
.about-par {
	padding-bottom: 2%;
	font-family: 'Roboto Light', sans-serif;
	font-size: 14px;
	font-weight: 100;
}

.banner {
	background: red;
	color:white;
	text-align: center;
}

.aboutBg{
background-repeat: no-repeat;
background-position:center;
max-width: 100%;
max-height: 100%;
background-size:cover;

}

#aboutText {
	text-align: center;
}

.about {
	padding: 30px 50px 40px;
	background: url(../media/wallpaper3.jpeg) no-repeat center;
	background-size:cover;
}

.about p {
	color:white;
}

.btn-to-products,
.btn-to-products:visited {
	background-color: red;
	color: white;
	border-color: red;
}

.btn-to-products:hover,
.btn-to-products:active,
.btn-to-products:focus,
.btn-to-products:active:hover {
	background-color: white;
	color: red;
	border-color: red;
}

.btn-to-products>a,
.btn-to-products>a:visited {
	color: inherit;
	text-decoration: none;
}

.btn-to-products>a:hover,
.btn-to-products>a:active,
.btn-to-product>a:focus,
.btn-to-product>a:hover:active {
	color: inherit;
	text-decoration: none;
}