.navbar {
	background-color: red; 
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:visited {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:visited {
	color:white;
	background-color: red;
}

.navbar-default .navbar-toggle {
    border-color: white;
    border-width: 2px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:visited {
	border-color: red;
	border-width: 2px;
	background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:visited .icon-bar {
    background-color: red;
}

