/*h1 {
	font-family: 'Source Serif Pro', serif;
}*/

p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.navbar {
	background-color: rgba(255, 0, 0, 1); 
	border-radius: 0px;
	border: 0px;
}

.home-navbar {
	margin-bottom:  0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:visited {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:visited {
	color:white;
	background-color: rgba(225, 0, 0, 1.0); /*slightly darker red*/
}

.navbar-default .navbar-toggle {
	border-color: white;
	border-width: 2px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:visited {
	border-color: red;
	border-width: 2px;
	background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:visited .icon-bar {
	background-color: red;
}


img {
	max-width:auto; 
	max-height:auto;   
}
.logo {
	padding: 8px 0px;
	max-height: 50px;
	width: auto;
}

.stylingFoot a i {
	color: white;
	
}

.navbar-default .navbar-text {
	color:white;
}

.contact-url {
	color:white;
	text-decoration: none;

}

.zetZijkant {
	float: right;
	padding-top: 20px;
	padding-bottom: 20px;

}

.maakWit a {
	color:white;
}


