h1 {
	text-align: center;
	text-decoration: underline;
}	

h2 {
	padding-bottom: 4%;
	text-decoration: underline;
}

section {
	padding: 80px ;
	text-align: center;
}

.team-picture {
	max-width: 300px;
	max-height: auto;
	border-radius: 50%;
}

p {
	padding:1%;
}

.lastParagraph {
	padding-top: 1%;
	text-align: center;
}

.test section{
    text-align: center;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }