h1 {
	text-align: center;
}

section {
	text-align: center;
	padding:50px 0px;

}

.team-member {
	text-align:center;
}

.thumbnails a {
	width:33%;
	box-sizing: border-box;
}

.thumbnails img:hover {
	transform: scale(1) rotate(2deg);
	box-shadow: 0 0 7px rgba(0,0,0,.5);
}

.thumbnails:hover img {
	opacity: : .6;
	transform: scale(.92);
}

.team-img {
	max-width: 300px;
	max-height: 300px;
	border-radius: 50%;
}

.light-text {
	opacity: 0.7;
}

.animation section{
    font-size: 21px;
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
 }

.fa-icon {
  color: red;
  padding: 0px 5px;
}

.social-links {
	padding: 15px 0px;
}

.location-header {
	background-color: red;
	color: white;
}

.location-map {
	text-align: center;
	padding: 25px 0px;
}