h1 {
	text-align: center;
	text-decoration: underline;
}	

h2 {
	padding-bottom: 4%;
	text-decoration: underline;
}

section {
	padding:100px;
	text-align: center;
}


.thumbnails a{
	float:left;
	width:33%;
	box-sizing: border-box;


}
.thumbnails img:hover {
	transform: scale(1) rotate(2deg);
	box-shadow: 0 0 7px rgba(0,0,0,.5);
}

/.thumbnails:hover img {
	opacity: : .6;
	transform: scale(.92);
}
.thumbnails img {
	display: block;
}

img {
	max-width: 300px;
	max-height: 300px;
	border-radius: 50%;
}

.lastParagraph {
	padding-top: 6;
	text-align: center;
}

.test section{

    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
 }

.fa-instagram {
  color: red;
}

.fa-twitter {
  color: red;
}

.fa-facebook {
  color: red;
}